.navbar {
  height: 50px;
  background-color: green;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
}

.listItem {
  margin-right: 20px;
  font-weight: 500;
  cursor: pointer;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.home {
  display: flex;
  padding: 50px 100px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  padding: 15px;
  margin: 20px;
  -webkit-box-shadow: -3px 2px 12px -1px #000000;
  box-shadow: -3px 2px 12px -1px #000000;
  border-radius: 20px;
}

.img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 20px 0px;
}

.desc {
  color: #333;
  margin-bottom: 20px;
  line-height: 25px;
}

.cardButton {
  border: none;
  border-radius: 10px;
  background-color: rebeccapurple;
  padding: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articleImag {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}

.articleDesc {
  padding: 0 100px;
  font-size: 24px;
  font-weight: 300;
  color: gray;
  margin-top: 50px;
}

.articleLongDesc {
  padding: 100px;
  padding-top: 50px;
  font-size: 18px;
  line-height: 24px;
}

.login {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 60%;
  height: 75%;
  -webkit-box-shadow: -3px 2px 12px -1px #000000;
  box-shadow: -3px 2px 12px -1px #000000;
  border-radius: 20px;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.loginMethod {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.or {
  border: 2px solid lightgray;
  border-radius: 50%;
  padding: 10px;
  color: gray;
  background-color: white;
  font-weight: bold;
}

.line {
  width: 0.5px;
  height: 70%;
  background-color: lightgray;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

.loginButton {
  width: 150px;
  margin: 50;
  padding: 20px 100px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  font-weight: center;
  margin-bottom: 20px;
  font-size: 40px;
  cursor: pointer;
  justify-content: space-around;
}

.google {
  background-color: #df4930;
}

.facebook {
  background-color: blue;
}

.github {
  background-color: black;
}

.icon {
  width: 60px;
  height: 30px;
  margin-right: 20px;
}

input {
  width: 200px;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.submit {
  width: 200px;
  background-color: purple;
  color: white;
  font-weight: bold;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
}

.loginTitle {
  position: absolute;
  top: 150px;
  color: lightgray;
}

.link{
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .card {
    width: 100%;
    margin-bottom: 50px;
  }

  .wrapper {
    width: 65%;
    height: 90%;
    flex-direction: column;
  }

  .loginTitle {
    display: none;
  }

  .center {
    width: 100%;
    position: relative;
  }

  .left {
    padding: 20px;
  }

  .right {
    padding: 20px;
  }

  .line {
    height: 0.5px;
    width: 300px;
  }
}